**/.pbi/localSettings.json
**/.pbi/cache.abf
Docker vs dbt vs kubernetes\dbt core\dbt_fabric\venv
Python/venv
**/.env
.env
**/.myenv
E:\programming\azure_dataengineering\all codes\code_repo\Python\myenv
E:/programming/azure_dataengineering/all codes/code_repo/Python/myenv